name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4



      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Run tests
        run: cargo test

      - name: Send Logs to Loki
        if: failure()
        uses: metrico/loki-action@V3.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          endpoint: ${{ secrets.LOKI_ENDPOINT }}
          username: ${{ secrets.LOKI_USER }}
          password: ${{ secrets.LOKI_PASS }}
          job-names: build
